---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="py-16 max-w-2xl mx-auto px-4 text-center">
    <h1 class="text-4xl font-bold mb-8">
      Welcome to <span class="">Imaginary Ai</span>
    </h1>
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/terms-of-service">Terms of Service</a>
  </main>
</Layout>
